*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    border: none;
}

body{
    background: url("../images/bj.jpg") no-repeat fixed;
    background-size: cover;
}


#container{
    width: 80%;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 楷体;
    line-height: 80px;
    color: #fff;
}

.box{
    width: 100%;
    overflow: hidden;
}

.box .image{
    width: 100%;
    margin: 5% auto;
}

.box .image>img{
    display: block;
    width: 100%;
}